html body.dqx_adminmenu {
    margin-top: 19px !important;
}
/* Displace the core Toolbar, if concurrently output. */
body div#toolbar.toolbar {
    top: 19px;
}
html #dqx_adminmenu {
    font: normal small "Lucida Grande", Verdana, sans-serif;
    -moz-box-shadow: 0 -10px 20px 13px #000;
    -webkit-box-shadow: 0 -10px 20px 13px #000;
    box-shadow: 0 -10px 20px 13px #000;
    right: 0;
    width: auto;
}
html #dqx_adminmenu-wrapper *{
    font-size: .925em;
    padding: 5px 10px 0;
}
html #dqx_adminmenu-wrapper #dqx_adminmenu-icon-img {
    padding:0px;
}
html #dqx_adminmenu {
    height:24px;
}
html #dqx_adminmenu li ul *, html #dqx_adminmenu li table * {
    line-height: 1.3em;
}